# Dependencies
node_modules/

# Next.js
.next/
out/

# NestJS / builds
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Testing / coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/